<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.studypartner.mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="com.example.studypartner.domain.entity.Comments">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="blogId" column="blogId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="likedNum" column="likedNum" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="parentCommentId" column="parentCommentId" jdbcType="INTEGER"/>
        <result property="childCommentId" column="childCommentId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,blogId,userId,
        content,likedNum,
        createTime,updateTime,status,
        parentCommentId,childCommentId
    </sql>
</mapper>
